<!--<mat-card>-->
<!--  <form [formGroup]="reCapt">-->

<!--    <re-captcha (resolved)="resolved($event)"-->
<!--                formControlName="recaptchaReactive"-->
<!--                siteKey="{{SITE_KEY}}">-->
<!--    </re-captcha>-->
<!--  </form>-->
<!--  <form [formGroup]="regisForm" (ngSubmit)="onRegister()">-->
<!--    <mat-form-field class="full-width">-->
<!--      <mat-label>Username</mat-label>-->
<!--      <input matInput  placeholder="Username" type="text" formControlName="username" />-->
<!--    </mat-form-field>-->
<!--    <button mat-riased-button >cli</button>-->
<!--  </form>-->
<!--</mat-card>-->
