<div id="login">
  <div class="content">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>

      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-card-content>
            <mat-form-field class="full-width">
              <mat-label>Email or UserName</mat-label>
              <input type="email" matInput  placeholder="Ex. pat@example.com" autocomplete="on" formControlName="username"/>
            </mat-form-field>
            <mat-form-field class="full-width">
              <mat-label>Password</mat-label>
              <input type="password" matInput  placeholder="Password" formControlName="password"/>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions >
          <a style="margin-left : 60%" routerLink="/forgetPassword">forget password?</a>
          <br/>
          <button mat-raised-button  color="primary" style="margin-top:5px">Login</button>
          <button mat-raised-button routerLink="/register" color="primary">Register</button>


        </mat-card-actions>
      </form>
      <mat-card-footer>
        Footer
      </mat-card-footer>
    </mat-card>
  </div>
</div>

