<div id="login">
  <div class="content">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>
        <form >
          <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input type="email" matInput  placeholder="Ex. pat@example.com" autocomplete="on"/>

<!--            <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">-->
<!--              Please enter a valid email address-->
<!--            </mat-error>-->
<!--            <mat-error *ngIf="emailFormControl.hasError('required')">-->
<!--              Email is <strong>required</strong>-->
<!--            </mat-error>-->
          </mat-form-field>
          <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input type="password" matInput  placeholder="Password"/>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions >
        <a style="margin-left : 60%" routerLink="/forgetPassword">forget password?</a>
        <br/>
        <button mat-raised-button (click)="onLogin()" color="primary" style="margin-top:5px">Login</button>
        <button mat-raised-button routerLink="/register" color="primary">Register</button>


      </mat-card-actions>
      <mat-card-footer>
        Footer
      </mat-card-footer>
    </mat-card>
  </div>
</div>

